.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0 0.5em;
  grid-template-areas:
    'image-description image-description attributes'
    'bottom bottom buttons';

  .image-description {
    grid-area: image-description;
  }
  .attributes {
    grid-area: attributes;
    justify-self: self-end;
  }
  .bottom {
    grid-area: bottom;
    margin-top: 1em;
    display: flex;
    justify-content: center;
  }
  .buttons {
    grid-area: buttons;
    margin-top: 1em;
  }

}

.content {
  .filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;

    select {
      background-color: #3B3B3B;
      color: white;
      border-radius: 8px;
    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      label {
        font-weight: bold;
      }

      select {
        padding: 0.5em 1em;
      }
    }

    button {
      background-color: white;
      color: black;
    }
  }
}
