.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0 1em;
  grid-template-areas:
    'image-description image-description attributes'
    'bottom . buttons';
}

.image-description {
  grid-area: image-description;
}
.attributes {
  grid-area: attributes;
}
.bottom {
  grid-area: bottom;
}
.buttons {
  grid-area: buttons;
}
