
.parent-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filter-form-export {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-content: center;
  width: calc(600px + 10em);
  margin: 1em auto;

  select {
    background-color: #3B3B3B;
    color: white;
    border-radius: 8px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    label {
      font-weight: bold;
    }

    select {
      padding: 0.5em 1em;
    }
  }

  button {
    background-color: white;
    color: black;
  }
}

.export-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .export-attributes,
  .export-descriptions {
    border: 1px solid #646cff;
    padding: 2em;
    border-radius: 8px;
    width: 300px;

    a {
      border: 1px solid #646cff;
      padding: 0.5em 1em;
      border-radius: 8px;
    }
  }
}
