.export-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .export-attributes,
  .export-descriptions {
    border: 1px solid #646cff;
    padding: 2em;
    border-radius: 8px;
    width: 300px;
  }
}
