.image-description {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas:
    'image title title'
    'image description description';
  grid-area: 1 / 1 / 2 / 3;
}

.image {
  grid-area: image;
  width: 400px;
  height: 500px;
  background-color: lightgray;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .text {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 2em;
    padding: 0 1em;
  }

  p {
    text-align: justify;
  }

  button {
    align-self: center;
    width: 150px;
  }
}

.form-description {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .textarea {
    margin-top: 2em;
    height: 200px;
    vertical-align: top;
    padding: 8px;
    line-height: 1.5;
  }

  button {
    width: 150px;
    align-self: center;
  }
}
