#root {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

img {
  max-width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1.2fr;
  grid-template-rows: 1.5fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    'image title-description attributes'
    'bottom bottom bottom';
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'previous buttons next';
  grid-area: bottom;
}

.previous {
  grid-area: previous;
}

.buttons {
  grid-area: buttons;
}

.next {
  grid-area: next;
}

.image {
  grid-area: image;
  background-color: #c8c7c7;
  width: 100%;
}

.attributes {
  grid-area: attributes;
}

.title-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'title'
    'description'
    'description';
  grid-area: title-description;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
  max-height: 400px;
  overflow-y: auto;
  padding: 0.2em 1em;

  p {
    text-align: justify;
  }
}

.attribute-list-container {
  span {
    text-align: left;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas: '. . . ';
  padding-block: 0.5em;
}

label.switch {
  text-align: left;
  width: 50px;
  height: calc(50px / 2);
  border-radius: 15px;
  background-color: #4ed164;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
label.switch > span {
  display: block;
  width: 100%;
  height: 100%;
}
label.switch > input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}
label.switch > span:before,
label.switch > span:after {
  content: '';
  cursor: pointer;
  position: absolute;
}
label.switch > input[type='checkbox']:focus ~ span {
  box-shadow: 0 0 0 4px #43b556;
}
label.switch > input[type='checkbox']:checked:focus ~ span {
  box-shadow: 0 0 0 4px #fff;
}
label.switch > span {
  border-radius: 15px;
}
label.switch > span:before {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 15px;
  transition: opacity 0.2s ease-out 0.1s, transform 0.2s ease-out 0.1s;
  transform: scale(1);
  opacity: 1;
}
label.switch > span:after {
  top: 50%;
  z-index: 3;
  transition: transform 0.4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
  width: calc(50px / 2);
  height: calc(50px / 2);
  transform: translate3d(0, -50%, 0);
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label.switch > input[type='checkbox']:checked ~ span:before {
  transform: scale(0);
  opacity: 0.7;
}
label.switch > input[type='checkbox']:checked ~ span:after {
  transform: translate3d(100%, -50%, 0);
}
