#root {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;

  .container {
    display: flex;
    height: 100%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

img {
  max-width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.redirection-section {
  a {
    border: 1px solid #646cff;
    border-radius: 8px;
    padding: 1em;
    margin-right: 1em;
  }

  a:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 0.3s;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.login-form input {
  margin: 0.5em;
  padding: 1em 2em;
  border: 1px solid #646cff;
  border-radius: 8px;
  background-color: #242424;
  color: white;
}


.login-form button {
  color: white;
}